<h1> <%= @employee.name %> </h1>

<h2>Project assignment:</h2>
<% if @employee.project_id? %>
  <h3><%= Project.find(@employee.project_id).title %></h3>
<% end %>

<h2>Assign <%= @employee.name %> to project </h2>

<form action="/employees/<%= @employee.id %>" method="post">
  <input type="hidden" name="employee_id" value=" <%= @employee.id %> ">
  <label for="title">Enter project title:</label>
  <input type="text" name="title" class="form-control">
  <button type="submit" name="button">Assign Employee to Project</button>
</form>


<h2>Update Employee:</h2>
<form action="/employees/<%= @employee.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="name">Enter new name</label>
  <input type="text" name="name" class="form-control">
  <button type="submit" name="button">Update</button>
</form>

<a href="/">Home</a>
